.button-order {
  outline: none;

  color: white;
  text-transform: uppercase;
  font-family: ttlakes-bold, sans-serif;
  font-size: 1.2rem;

  background-color: $color--main;
  border-radius: 16px;

  @include flex(center);
  column-gap: $space--sm;

  min-height: $space--lg;
  padding: 0 12px;
  cursor: pointer;
  border: 3px solid transparent;

  transition-property: transform color background-color border box-shadow;
  transition-duration: $transition-duration--short;

  &:hover {
    background-color: darken($color--main, 20%);
  }

  &:active {
    color: $color--main;
    background-color: transparent;
    border-color: $color--global-bg;
    transform: scale(0.9);
  }

  &:focus {
    box-shadow: 0 0 2px black;
  }
}
