@font-face {
  src: url(../fonts/TTLakes-Bold.ttf);
  font-family: ttlakes-bold;
}

@font-face {
  src: url(../fonts/TTLakes-Medium.ttf);
  font-family: ttlakes-medium;
}

@font-face {
  src: url(../fonts/TTLakes-Regular.ttf);
  font-family: ttlakes-regular;
}
