// Break point
$break-point--sm: 320px;
$break-point--md: 768px;
$break-point--lg: 1366px;
$break-point--xl: 1440px;

// Space
$space--sm: 16px;
$space--md: 24px;
$space--lg: 32px;

// Color
$color--main: #ff3e79;
$color--alternate: #41f6d7;
$color--global-bg: #f8f8f8;

// Transition
$transition-duration--short: 0.15s;
$transition-duration--long: 0.35s;

// Text
$title-size: 28px;
$text-color--light: #7e7e82;
$text-color--dark: #1b1c21;
$text-size--large: 1.6rem;
$text-size--small: 1.4rem;

// Corner
$corner: 6px;

// Header
$header--height: 88px;
